
body {
    margin: 0;
    padding: 0;
    background: #8bbfed;
    color: black;
    font-size: 80%;
    font-family: arial, helvetica, sans-serif;
}

ul, li, p, div, h1, h2  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*----HEADER----*/
#header {
    height: 230px; /*hauteur de notre image header*/
    background: url(./templates/images/header4.jpg) top center no-repeat;
}

#header ul {
    width: 980px;
    margin: auto;
    padding: 8px 10px 0 370px;
}

#header img {
    float: left;
}

#header a {
    float: left;
    background: url("./templates/images/menuGauche.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}

#header a span {
    float: left;
    display: block;
    background: url("./templates/images/menuDroite.gif") no-repeat right top;
    padding: 5px 15px 4px 9px;
    color: #666;
    font-size: 15px;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    font-weight: bold;
}

#header a:hover {
    background-position: 0% -84px;

}

#header a:hover span {
    background-position: 100% -84px;
    color: white;
}

#current a {
    background-position: 0% -42px;
}

#current a span {
    background-position: 100% -42px;
    color: #333;
}

/*----CONTENU----*/
#global {
    background: url(./templates/images/fond_content.jpg) top center repeat-y;
}

#contenu {
    width: 980px;
    margin: 0 auto;
    background: none;
}

#contenu h1 {
    padding-top: 5px;
    margin-left: 160px; /*par rapport a la largeur de la photo*/
    color: #00638D;
    font-size: 18pt; 
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    font-weight: bold;
    border-bottom: 1px solid #00638D;
}

#contenu p {
    text-align: justify;
    margin-left: 160px; /*par rapport a la largeur de la photo*/
    color: #818181;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px
}

#contenu h2 {
   
    /*background: transparent url(./templates/images/fond-titre-post.png) no-repeat top left; */
}

#contenu h2 a {
    color: #00638D;
    font-size: 18pt;
    font-weight: bold;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    text-decoration: none;
    border-bottom: 1px solid #00638D;
    
}

#contenu h2 a:hover {
    color: #f60;
}

#contenu label {
    display: block;
    padding-bottom: 1px;
    vertical-align: 3px;
    width: 260px;
}

#contenu input {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C6C0AC;
    color: #333333;
    padding: 4px;
    vertical-align: 3px;
    width: 240px;
}

#contenu select {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C6C0AC;
    color: #333333;
    padding: 4px;
    vertical-align: 3px;
    width: 100px;
}

#contenu .submit {
    display: block;
    margin-top: 18px;
    width: 250px;
}


/*----COLONNE PAGE SANS PROFIL----*/
.colonne {
    display: inline-block;
    width: 488px; /*2 pixels disparu je sais pas pkoi ... devrait être 490px*/
    margin-top: 40px;
    margin-bottom: 15px;

}

.colonne img {
    margin-top: 12px;
    margin-right: 12px;
    border: 5px solid white;

    /*marche pas sur les ancienne version windaube voir commentaire conditionnel*/
    -moz-box-shadow: 1px 1px 12px #555;
    -webkit-box-shadow: 1px 1px 12px #555;
}

/*----COLONNE PAGE AVEC PROFIL----*/
#colonne_gauche {
    margin-left: 160px;
}

.colonne_profil {
    display: inline-block;
    width: 408px; /*2 pixels disparu je sais pas pkoi ... devrait être 410px*/
    margin-top: 40px;
    margin-bottom: 15px;

}

.colonne_profil img {
    margin-top: 12px;
    margin-right: 12px;
    border: 4px solid white;

    /*marche pas sur les ancienne version windaube voir commentaire conditionnel*/
    -moz-box-shadow: 1px 1px 12px #555;
    -webkit-box-shadow: 1px 1px 12px #555;
}

/*----MENU GAUCHE----*/
#menu_gauche {
    float: left;
    width: 132px;
    margin: 10px;
}   

#contenu .photo_article {
    border: 2px solid black;
}

#menu_gauche a {
    display: block;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    text-align: left;
    text-decoration: none;
    color: #333;
    font-size: 10pt; 
    line-height: 18px;
}

#menu_gauche a:hover {
    background-color: #ddd;
    font-weight: bold;
}

#img_profil {
    margin-top: 25px;
    margin-left: 160px;
    width: 820px;
    height: 500px;
    border: 1px solid #333;
}

/*----FOOTER----*/
#footer {
    height: 265px; /*hauteur de notre image footer*/
    background: url(./templates/images/footer.jpg) top center no-repeat;
}

#raccourci {
    clear: both; /*clear les float precedement utilisé*/
    width: 980px;
    margin: 0 auto;
    background: none;   
}

#raccourci h2 {
    margin-top: 45px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

#colonne1 {
    float: left;
    width: 245px;
}

#colonne1 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

#colonne1 img {
    margin-right: 15px;
}

#colonne2 {
    float: left;
    width: 245px;
}

#colonne2 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;
}

#colonne2 img {
    float: left;
    margin-left: -35px;
    margin-right: 25px;
    border: 1px solid white;
}

#colonne3 {
    float: left;
    width: 245px;
}

#colonne3 h3 {
    color: white;
    font-size: 14px;
    line-height: 1px;
    font-weight: bold;
}

#colonne3 li {
    color: #e5f3ff;
    font-size: 14px;
    line-height: 1px;
    margin-top: 25px;
}
#colonne3 img {
    float: left;
    margin-top: -10px;
    margin-left: -35px;
    margin-right: 10px;
}

#colonne4 {   
    float: left;
    width: 245px;
}

#colonne4 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;

}

#colonne4 img {
    float: left;
    margin-right: 25px;
    border: 1px solid white;
}

#copyright {
    padding-top: 235px;
    text-align: center;
    color: #818181;
    font-size: 10px;
}