
body {
    margin: 0;
    padding: 0;
    background: #8bbfed;
    color: black;
    font-size: 80%;
    font-family: arial, helvetica, sans-serif;
}

ul, li, p, div, h1, h2  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
    height: 230px; /*hauteur de notre image header*/
    background: url(./templates/images/header4.jpg) top center no-repeat;
    text-align: center;
}

#header img {
    float: left;
    margin: 5px 5px 0 0;
}

#header li {
    display: inline;
    margin: 0;
    padding: 0;
}

#header li a {
    display: inline-block;
    margin: 1px;
    padding: 4px 0; /*centre le texte dans le hover*/
    text-decoration: none;
    height: 34px;
    width: 113px;
    
    color: #818181;
    font-size: 24px;
}

#header li a:hover {
    background: url(./design/Pyro/templates/images/cadreSelectionTitre.png) no-repeat 0 0;
    color: #360;
    text-align: center;
}

div {
    display: block;
}

#global {
    background: url(./templates/images/fond_content.jpg) top center repeat-y;
}

#contenu {
    width: 980px;
    margin: 0 auto;
    background: none;
}



#contenu img {
    float: left;
    margin: 10px;
    border: 2px solid black;
}

#contenu h1 {
    padding-top: 5px;
    margin-left: 160px; /*par rapport a la largeur de la photo*/
    color: #000;
    font-size: 18pt; 
    font-weight: normal;
    border-bottom: 1px solid #000;
}

#contenu p {
    text-align: justify;
    margin-left: 160px; /*par rapport a la largeur de la photo*/
    color: #818181;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px
}


#contenu h2 {
    text-align: left;
    color: #000;
    font-size: 18pt; 
    font-weight: normal;
    text-decoration: underline;
}

#footer {
    height: 265px; /*hauteur de notre image footer*/
    background: url(./templates/images/footer.jpg) top center no-repeat;
}

#raccourci {
    clear: both; /*clear les float precedement utilisé*/
    width: 980px;
    margin: 0 auto;
    background: none;   
}

#raccourci h2 {
    margin-top: 45px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

#colonne1 {
    float: left;
    width: 245px;
}

#colonne1 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

#colonne1 img {
    margin-right: 15px;
}

#colonne2 {
    float: left;
    width: 245px;
}

#colonne2 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;
}

#colonne2 img {
    float: left;
    margin-left: -15px;
    margin-right: 25px;
    border: 1px solid white;
}

#colonne3 {
    float: left;
    width: 245px;
}

#colonne3 h3 {
    color: white;
    font-size: 14px;
    line-height: 1px;
    font-weight: bold;
}

#colonne3 li {
    color: #e5f3ff;
    font-size: 14px;
    line-height: 1px;
    margin-top: 25px;
}
#colonne3 img {
    float: left;
    margin-top: -10px;
    margin-left: -15px;
    margin-right: 10px;
}

#colonne4 {   
    float: left;
    width: 245px;
}

#colonne4 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;
    
}

#colonne4 img {
    float: left;
    margin-right: 25px;
    border: 1px solid white;
}

#copyright {
    padding-top: 235px;
    text-align: center;
    color: #818181;
    font-size: 10px;
}