/* Pour supprimer les espaces du haut et du bas */
* { margin:0; padding:0; }

body {
    background: #8bbfed url(imgages/degrade.jpg) repeat-x; 
    text-align: center;
    font-family:arial, sans-serif;
    font-size:100%;
}

/* MENU */

#menu { margin-right: auto; margin-left: auto; width: 960px; padding-top: 4px; }
#menu ul { list-style: none;
           text-align: center;
           position: relative;
}
#menu li { display: inline;
           word-spacing: 50px;
}
#menu li a { color: #818181; font-size: 14pt; text-align: center; text-decoration: none; }
#menu li a:hover { font-family: Comic Sans MS; color: #015799; }
/* #menu li a:hover { background-color: #D0D5AF; padding: 4px 15px; border-radius: 5px; border: 5px; box-shadow: -1px -1px 5px #A6A98A; } */

/* HEADER */

#header {
    margin: 0 auto;
    min-width: 980px;
    height: 230px;
    background: url(images/header4.jpg) no-repeat top center;
    display: block;
}

/* CONTENT */

#content {
    margin-right: auto;
    margin-left: auto;
    background: url(images/fond_content.jpg) repeat-y center;
    text-align:justify;
    line-height: 16pt;
    width: 1200px;
}

#content h1 {
    width: 500px;
    font-size: 16pt;
    color: #000000; 
    padding-top: 15px;
    margin-bottom: 3px;
    margin-left: 245px;

}

#content p {
    width: 700px;
    font-size: 12pt;
    color: #818181;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 16pt;    
}

.hrComplet {
    width: 700px;
    background-color: black;
    color: black;
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    margin-left: 249px;
}

.imageContent {
    float: left; 
    width: 98px;
    height: 148px;
    padding: 18px 6px 6px 6px;
    margin-left: 90px;
    margin-right: 40px;
}

/* FOOTER */

#footer { 
    margin-right: auto;
    margin-left: auto;
    background: url(images/footer.jpg) no-repeat center;
    clear:both;
    height:250px;
}

#footerInfos {
    padding-top: 30px;
    font-size: 11pt;
}
#lastWinner {
    width: 20%;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    line-height: 32pt;
    text-align: center;
    margin-left: 6%;
}

#lastWinner img {
    padding-right: 10px;
}

#lastPics {
    width: 20%;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    line-height: 32pt;

}

#lastComments {
    width: 25%;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    line-height: 32pt;

}

#lastMembres {
    width: 20%;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    line-height: 32pt;

}

.hrFooter {
    color: #D2E5F6;
    width: 60%;
    text-align: center;
    margin-left: 60px;
    margin-top: -10px;
}