body {
    font-family:arial, sans-serif;
    font-size:100%;

    background: -moz-linear-gradient(top, #aedae5, #FFFFFF); /* pour Firefox 3.6+ */  

    background: -webkit-gradient(linear, left top, left bottom, from(#aedae5), to(#FFFFFF)); /* pour webkit */ 
    background-repeat: no-repeat; 

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='blue', endColorstr='white');
}

#menu { margin-right: auto; margin-left: auto; width: 960px; }
#menu ul { list-style: none;
           text-align: center;
           position: relative;
}
#menu li { display: inline;
           word-spacing: 80px; 
}
#menu li a { color: #818181; font-size: 1.5em; text-align: center; text-decoration: none; }
#menu li a { background: url(images/cadreSelectionTitre.png)  no-repeat scroll 0 0 transparent; 
}

#footer { 
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	height: 254px;
	background: url(images/footer.jpg);
}


#content {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    background: url(images/content.jpg);
}

#content h1 {
    font-size: 24pt;
    color: #000000;   
}
#content p {
    font-size: 14pt;
    color: #818181;
    line-height: 18pt;
}

#cadre {
    margin-right: auto;
    margin-left: auto;
    width: 920px;
}

#cadreFooter1 {

}