
body {
    margin: 0;
    padding: 0;
    background: #8bbfed;
    color: black;
    font-size: 80%;
    font-family: arial, helvetica, sans-serif;
}

ul, li, p, div, h1, h2, h3, blockquote, dl, dt, dd, table, tr, td, th, input, fieldset, hr {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*bidouille pour rétablir le flux après un float*/
hr {
    clear: both;
    visibility: hidden;
}

/*----HEADER----*/
#header {
    height: 230px; /*hauteur de notre image header*/
    background: url(./images/header4.jpg) top center no-repeat;
}

#menu_header {
    width: 980px;
    margin: auto;
}

#menu_header ul {
    margin-left : 175px;
    padding-top: 8px; 
    /*padding: 8px 10px 0 370px;*/
}
#header img {
    float: left;
}

#header a {
    float: left;
    background: url("./images/menuGauche.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}

#header a span {
    float: left;
    display: block;
    background: url("./images/menuDroite.gif") no-repeat right top;
    padding: 5px 15px 4px 9px;
    color: #666;
    font-size: 15px;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    font-weight: bold;
}

#header a:hover {
    background-position: 0% -84px;

}

#header a:hover span {
    background-position: 100% -84px;
    color: white;
}

#current a {
    background-position: 0% -42px;
}

#current a span {
    background-position: 100% -42px;
    color: #333;
}

/*----CONTENU----*/
#global {
    background: url(./images/fond_content.jpg) top center repeat-y;
}

#contenu {
    width: 980px;
    margin: 0 auto;
    background: none;
}

#contenu h1 {
    padding-top: 5px;
    margin-left: 160px; /*par rapport a la largeur de la photo*/
    color: #00638D;
    font-size: 18pt; 
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    font-weight: bold;
    border-bottom: 1px solid #00638D;
}

#contenu p {
    text-align: justify;
    margin-left: 160px; /*par rapport a la largeur de la photo*/
    color: #818181;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px
}

#contenu h2 {

    /*background: transparent url(./images/fond-titre-post.png) no-repeat top left; */
}

#contenu h2 a {
    color: #00638D;
    font-size: 18pt;
    font-weight: bold;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    text-decoration: none;
    border-bottom: 1px solid #00638D;

}

#contenu h2 a:hover {
    color: #f60;
}

/*#contenu fieldset {
    margin-top: 10px;
    margin-left: 160px;
    width: 816px;
    border:2px solid black;
    
    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding-bottom: 10px;
}*/
#contenu fieldset {
    border: 1px solid #CCA383;
    width: 50%;
    margin-top: 10px;
    margin-left: 160px;
    width: 816px;
    background: #FFE8EF;
    padding: 3px
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding-bottom: 10px;
}

#contenu fieldset p {
    margin-left: 60px; 
}

#contenu fieldset img {
    margin-left: 50px;
    /*border: 2px solid black;*/
}

/*#contenu fieldset legend {
    margin-left: 10px;
    border-left: black 2px solid;
    border-right: black 2px solid;
    font-weight: bold;
    color: black;
    
  }*/
#contenu fieldset legend {
    background: #CCA383;
    padding: 6px;
    font-weight: bold;
    margin-left: 5px;
}

#contenu label {
    display: block;
    padding-bottom: 1px;
    vertical-align: 3px;
    width: 260px;
}

#contenu input {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C6C0AC;
    color: #333;
    padding: 4px;
    vertical-align: 3px;
    width: 240px;
}

#contenu select {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C6C0AC;
    color: #333;
    padding: 4px;
    vertical-align: 3px;
    width: 100px;
}

#contenu .submit {
    display: block;
    margin-top: 18px;
    width: 250px;
}

#contenu .error {
    /*font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    font-size: 85%;
    font-style: italic;
    font-weight: bold;
    color: #e70000;
    vertical-align: 4px;
}

/*bidouille centrer la croix par rapport au texte*/
#contenu .error img {
    vertical-align: -3px;;
}

#contenu .server_return {
    margin-top: 0px;
}

#galerie {
    margin-left: 160px;
    width: 820px;
    position: relative;
}

#galerie a {
    text-decoration: none;
}

#galerie .album {
    margin-top: 5px;
    margin-right: 5px;
    border: 5px solid white;

    /*marche pas sur les ancienne version windaube voir commentaire conditionnel*/
    -moz-box-shadow: 1px 1px 12px #555;
    -webkit-box-shadow: 1px 1px 12px #555;
    z-index: 1;
}

#galerie .cadre_album, .titre_album {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 5px;


}

#galerie .cadre_album {
    width: 255px;
    height: 155px;
    background: #ddd;
    opacity: 0.5;
}

#galerie .titre_album {
    z-index: 3;
    width: 255px;
    text-align: center;
    margin-top: 65px;
    color: #222;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

#galerie a:hover span {
    visibility: visible;
}

/*----CARACTERISTIQUE DU PROFIL----*/
#presentation {
    margin: 5px 0 0 160px;
    text-align: justify;
    text-align: center;
}

#caracteristique_gauche {
    float: left;
}

#caracteristique_droite {
    float: right;
}

.type {
    margin: auto;
    display: inline;
    color: #818181;
    font-weight: bold;
}

.data {
    margin: auto;
    display: inline-block;
    text-align: right;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    margin-left: 5px;
}

#img_profil {
    margin-top: 10px;
    margin-left: 160px;

}

#img_profil h3 {
    text-align: center;
}

#img_profil .bulle_dialogue {
    float: left;
    margin-left: 0px;
    position: relative;
    padding: 15px;
    color: white;
    font-style: italic;
    text-align: justify;

    /*Paye ton dégradé compatible*/

    /*chrome 2+, safari 4+*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#B8DB29), to(#5A8F00));
    /* Safari 5.1+, Chrome 10+ */  
    background: -webkit-linear-gradient(#B8DB29, #5A8F00);
    /*mozilla*/
    background: -moz-linear-gradient(#B8DB29, #5A8F00);
    /*opera*/
    background: -o-linear-gradient(#B8DB29, #5A8F00);
    /*ie 10*/
    background-image: -ms-linear-gradient(top, #B8DB29, #5A8F00);
    /*IE6 & IE7*/ 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8DB29', endColorstr='#5A8F00'); 
    /*IE8+*/ 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8DB29', endColorstr='#5A8F00')";  
    /*pour les navigateur compatible css3*/
    background: linear-gradient(#B8DB29, #5A8F00); 

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bulle_dialogue:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 70px;
    border-width: 30px 20px 0px 0px;
    border-style: solid;
    border-color: transparent #B8DB29;
    display: block;
    width: 0;
}

#statistique {
    /*word-spacing: 198px;*/
    display: table;
    width: 820px;
}

#statistique .statistique_cellule {
    display: table-cell;
    width: 250px;
}

.res_stat {
    position: relative;
    bottom: 3px;
    margin-left: 10px;
    font-size: 140%;
    font-weight: bold;
    color: #00638D;
}

#vote {
    float: right;
    margin-right: 40px;
    display: inline;
    height: 24px;
    cursor: pointer;
}

#positif {
    float: left;

}

#negatif {
    position: absolute;
}

/*----COLONNE PAGE SANS PROFIL----*/
.colonne {
    display: inline-block;
    width: 488px; /*2 pixels disparu je sais pas pkoi ... devrait être 490px*/
    margin-top: 40px;
    margin-bottom: 15px;
    vertical-align: top;
}

.colonne a {
    text-decoration: none;
}

.colonne img {
    margin-top: 12px;
    margin-right: 12px;
    border: 5px solid white;

    /*marche pas sur les ancienne version windaube voir commentaire conditionnel*/
    -moz-box-shadow: 1px 1px 12px #555;
    -webkit-box-shadow: 1px 1px 12px #555;
}

/*----COLONNE PAGE AVEC PROFIL----*/
#colonne_gauche {
    margin-left: 160px;
    vertical-align: top;
    clear: both;
}

.colonne_profil {
    display: inline-block;
    width: 408px; /*2 pixels disparu je sais pas pkoi ... devrait être 410px*/
    margin-top: 40px;
    margin-bottom: 15px;

}

.colonne_profil img {   
    margin-top: 12px;
    margin-right: 12px;
    border: 4px solid white;
    /*marche pas sur les ancienne version windaube voir commentaire conditionnel*/
    -moz-box-shadow: 1px 1px 12px #555;
    -webkit-box-shadow: 1px 1px 12px #555;
}

/*----MENU GAUCHE----*/
#menu_gauche {
    float: left;
    width: 132px;
    margin: 10px;
}   

#contenu .photo_article {
    border: 2px solid black;
}

#menu_gauche a {
    display: block;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif; /*police facebook*/
    text-align: left;
    text-decoration: none;
    color: #333;
    font-size: 10pt; 
    line-height: 18px;
}

#menu_gauche a:hover {
    background-color: #ddd;
    font-weight: bold;
}

/*----FOOTER----*/
#footer {
    height: 265px; /*hauteur de notre image footer*/
    background: url(./images/footer.jpg) top center no-repeat;
}

#raccourci {
    clear: both; /*clear les float precedement utilisé*/
    width: 980px;
    margin: 0 auto;
    background: none;   
}

#raccourci h2 {
    margin-top: 45px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
}

#colonne1 {
    float: left;
    width: 200px;
}

#colonne1 a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;
}

#colonne1 img {
    margin-right: 15px;
}

#colonne2 {
    float: left;
    width: 288px;
    /*border-left: 1px dotted #efefef;
    border-right: 1px dotted #efefef;*/
}

#colonne2 a {
    margin-left: -15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 46px;
}

#colonne2 img {
    float: left;
    /*margin-left: -25px;*/
    margin-top: 5px;
    margin-right: 25px;
    border: 1px solid white;
}

#colonne3 {
    float: left;
    width: 288px;
    height: 220px;
    /*border-right: 1px dotted #efefef;*/
}

#colonne3 h4 {
    color: white;
    font-size: 14px;
    line-height: 1px;
    font-weight: bold;
}

#colonne3 li {
    color: #e5f3ff;
    font-size: 14px;
    line-height: 1px;
    margin-top: 25px;
}
#colonne3 img {
    float: left;
    margin-top: -10px;
    margin-left: -35px;
    margin-right: 10px;
}

#colonne4 {
    float: right;
    width: 200px;
}

#colonne4 a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;

}

#colonne4 img {
    float: left;
    margin-left: 25px;
    border: 1px solid white;
}

#copyright {
    padding-top: 235px;
    text-align: center;
    color: #818181;
    font-size: 10px;
}

.lastActions {
    height: 18px;
}
.colonne_profil ul {
    margin-top: 10px;
}
sup {
    color: #818181;
    font-size: 8px;
}







/* MODULE DE COMMENTAIRE AJAX */
#update {
    float: left;
}
.comment, #commentaireFormulaire {
    background:#f7f7f7;
    background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
    background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
    border:1px solid #aaa;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;
    box-shadow:0 0 15px #aaa;
    width: 738px;
    margin: 15px 0 15px 160px;
    padding: 20px;
}

.comment .avatar {
    height:50px;
    width:37px;
    -moz-box-shadow:1px 1px 0 #c2c2c2;
    -webkit-box-shadow:1px 1px 0 #c2c2c2;
    box-shadow:1px 1px 0 #c2c2c2;
    float:left;
    margin-right: 20px;
}


.comment .name {
    padding-bottom:10px;
    font-size:14px;
    color:#0459b7;
    font-weight: bold;
}

.comment .date {
    font-size:10px;
    padding: 20px 10px 0 10px;
    color:#666;
    float: right;
}

#commentaireFormulaire label {
    cursor:pointer;
    display:block;
    float:left;
    font-weight:bold;
    letter-spacing: 1px;
    line-height:28px;
    margin-bottom:5px;
    width:160px;
}

form p:hover label {
    color:#0459b7;
}

form p:hover label:after {
    content:' >>';
}


input[type=submit], a.submit {
    background:#ddd;
    background:-moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
    background:-webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7)); /* Webkit */
    border:1px solid #093c75;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:0 1px 0 #fff;
    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
    margin-left:225px;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0 1px 1px #333;
    text-transform:uppercase;
}


